/*******/
/***centrar los items en grids****/
@import url("https://fonts.googleapis.com/css2?family=Finger+Paint&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200&display=swap");
header h1, header div, header figure, header a {
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

/**mixin de margin**/
/**mixin de padding**/
.body {
  display: -ms-grid;
  display: grid;
      grid-template-areas: "area1 area1" "area2 area3" "area4 area5";
  -ms-grid-columns: 52% 55%;
      grid-template-columns: 52% 55%;
  -ms-grid-rows: 18% 29% 49%;
      grid-template-rows: 18% 29% 49%;
  width: 90%;
}

.body .area1 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: area1;
}

.body .area2 {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: area2;
}

.body .area3 {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: area3;
}

.body .area4 {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: area4;
}

.body .area5 {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: area5;
}

.body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-top: 2%;
  margin-bottom: 0%;
}

.body header {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: area1;
  margin-left: 2%;
  margin-right: 10%;
  width: 98%;
  padding-top: 2%;
  padding-bottom: 0%;
}

.body aside {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: area2;
  margin-left: 4%;
  margin-right: 0%;
}

.body aside h1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.body aside div {
  margin-left: 7%;
  margin-right: 0%;
}

.body article {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: area3;
  width: 100%;
}

.body article h1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.body article section {
  padding-left: 3%;
  padding-right: 0%;
}

.body section {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: area4;
  width: 100%;
  margin-left: 4%;
  margin-right: 100%;
}

.body footer {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: area5;
  width: 100%;
}

/*******************/
header {
  display: -ms-inline-grid;
  display: inline-grid;
      grid-template-areas: "area1 area2" "area3 area2" "area4 area2";
  -ms-grid-rows: 10% 70% 20%;
      grid-template-rows: 10% 70% 20%;
  -ms-grid-columns: 50% 50%;
      grid-template-columns: 50% 50%;
}

header .area1 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: area1;
}

header .area2 {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: area2;
}

header .area3 {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: area3;
}

header .area4 {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: area4;
}

header h1 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: area1;
}

header div {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: area3;
  margin-left: 5%;
  margin-right: 0%;
}

header figure {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: area2;
}

header figure img {
  width: 80%;
  border-radius: 20px;
  -webkit-box-shadow: 3px 3px 9px 0px #494bb4;
          box-shadow: 3px 3px 9px 0px #494bb4;
}

header a {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: area4;
}

.GridGaleria {
  display: -ms-grid;
  display: grid;
      grid-template-areas: "area1 area2" "area3 area4" "area5 area6" "area7 area8";
  -ms-grid-columns: 50% 50%;
      grid-template-columns: 50% 50%;
  -ms-grid-rows: 20% 20% 30% 40%;
      grid-template-rows: 20% 20% 30% 40%;
}

.GridGaleria {
  width: 95%;
  margin-left: -1%;
  margin-right: -1%;
}

#Galeria h1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.GridGaleria img {
  width: 100%;
  -webkit-transition: ease-in-out 1s;
  transition: ease-in-out 1s;
  border-radius: 30px;
  -webkit-box-shadow: 3px 3px 9px 0px #494bb4;
          box-shadow: 3px 3px 9px 0px #494bb4;
}

.GridGaleria img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-filter: brightness(70%);
          filter: brightness(70%);
}

.img1 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: area1;
}

.img2 {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: area2;
}

.img3 {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: area3;
}

.img4 {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: area4;
}

.img5 {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: area5;
}

.img6 {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  grid-area: area6;
}

.img7 {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: area7;
}

.img8 {
  -ms-grid-row: 4;
  -ms-grid-column: 2;
  grid-area: area8;
}

.texto-header {
  font-size: 40px;
  font-family: "Finger Paint", cursive;
  color: blue;
}

.texto-subs {
  font-size: 30px;
  font-family: "Roboto Condensed", sans-serif;
  color: #0b757c;
}

.texto-subs2 {
  font-size: 20px;
  font-family: "Roboto Mono", monospace;
  color: #801300;
}

.texto-parrf {
  font-size: 18px;
  font-family: "Nunito Sans", sans-serif;
  color: #770677;
}

.bg-back1 {
  background-color: antiquewhite;
}

.bg-back2 {
  background-color: #bdc9ff;
}

.bg-back3 {
  background-color: #f1c6f1;
}

.bg-back4 {
  background-color: #fcfca0;
}

.bg-back5 {
  background-color: #fca6a6;
}

header a {
  background-color: #cb94ff;
  padding-left: 1%;
  padding-right: 1%;
  border-radius: 10px;
  -webkit-box-shadow: 3px 3px 9px 0px #b4495b;
          box-shadow: 3px 3px 9px 0px #b4495b;
  -webkit-transition: ease-in-out 1s;
  transition: ease-in-out 1s;
}

header a:hover {
  background-color: #8e2aec;
  color: white;
  -webkit-transform: scaleX(1.2);
          transform: scaleX(1.2);
}

footer i {
  font-size: 20px;
  color: #9c2222;
  -webkit-transition: ease-in-out 1s;
  transition: ease-in-out 1s;
}

footer i:hover {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
  color: #6caecc;
}

footer ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

footer ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer ul li i {
  margin-left: 0%;
  margin-right: 2%;
}

footer h2 {
  border: 1px solid slateblue;
  -webkit-box-shadow: 0px -1px 9px 0px #494bb4;
          box-shadow: 0px -1px 9px 0px #494bb4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 25%;
  margin-right: 25%;
}

footer div {
  margin-left: 7%;
  margin-right: 0%;
}

footer form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer div:nth-child(2) {
  margin-top: 10px;
  margin-bottom: 0px;
}

footer input:focus, footer textarea:focus {
  background-color: #93bef7;
  color: darkblue;
}

footer button {
  margin-top: 10px;
  margin-bottom: 0px;
  background-color: #c6a3e7;
  border-color: purple;
  font-size: 15px;
}

@media all and (max-width: 564px) {
  .body {
    display: -ms-grid;
    display: grid;
        grid-template-areas: "area1" "area2" "area3" "area4" "area5";
    -ms-grid-columns: 95%;
        grid-template-columns: 95%;
    -ms-grid-rows: 18% 17% 18% 22% 26%;
        grid-template-rows: 18% 17% 18% 22% 26%;
    width: 99%;
  }
  .body {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .body header {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: area1;
  }
  .body aside {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: area2;
    margin-left: 10px;
    margin-right: 0px;
  }
  .body article {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    grid-area: area3;
    margin-left: 10px;
    margin-right: 10px;
  }
  .body section {
    -ms-grid-row: 4;
    -ms-grid-column: 1;
    grid-area: area4;
    margin-left: 10px;
    margin-right: 0px;
  }
  .body section img {
    border-radius: 0px;
    width: 100%;
  }
  .body footer {
    -ms-grid-row: 5;
    -ms-grid-column: 1;
    grid-area: area5;
    margin-left: 10px;
    margin-right: 0px;
  }
  .body footer div:nth-child(1) {
    margin-left: 25%;
    margin-right: 0px;
  }
}

@media all and (max-width: 564px) {
  header {
    display: -ms-grid;
    display: grid;
        grid-template-areas: "area1" "area2" "area3" "area4";
    -ms-grid-columns: 97%;
        grid-template-columns: 97%;
    -ms-grid-rows: 15% 25% 45% 18%;
        grid-template-rows: 15% 25% 45% 18%;
    width: 100%;
  }
  header {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 100%;
  }
  header h1 {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: area1;
  }
  header div {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    grid-area: area3;
  }
  header figure {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: area2;
  }
  header a {
    -ms-grid-row: 4;
    -ms-grid-column: 1;
    grid-area: area4;
  }
}

* {
  text-decoration: none;
  list-style: none;
}
/*# sourceMappingURL=main.css.map */