/*******/
//fuente
$fontheader: 'Finger Paint' , cursive ;
$fontsubs: 'Roboto Condensed', sans-serif ;
$fontsubs2: 'Roboto Mono', monospace ;
$fontparraf: 'Nunito Sans', sans-serif;


//colores mapa
$colors: ('header':blue, 'subs':rgb(11, 117, 124), 'subs2': rgb(128, 19, 0), 'parrf': rgb(119, 6, 119));


//lista color backgr
$colorbackg: 'back1' antiquewhite , 'back2' rgb(189, 201, 255), 'back3' rgb(241, 198, 241), 'back4' rgb(252, 252, 160), 'back5' rgb(252, 166, 166);